<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename= 'css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/button.css') }}">
    <title>Philips Hue Bridge</title>
    <style>
        .device-link {
            text-decoration: none;
            color: inherit;
        }
        .device-link:hover {
            cursor: pointer;
            color: inherit;
        }
    </style>
</head>
<body>
   <nav class="navbar bg-body-tertiary">
     <div class="container-fluid">
         <a class="navbar-brand">
            Philips Hue Bridge
         </a>
         <a href="https://github.com/Keke712/" class="navbar-text">
            github.com/Keke712
         </a>
     </div>
   </nav>

   <div class="container mt-5">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <div class="form-group">
            <label for="macAddress">MAC Address:</label>
            <div class="input-group">
                <input type="text" class="form-control" id="macAddress" value="{{ mac_address }}" readonly>
                <button id="connectButton" class="btn btn-primary">Connect</button>
            </div>
        </div>
        <br>
        <h4 class="mt-4">Available Devices</h4>
        <ul class="list-group" id="deviceList">
            {% for device in devices %}
                <a href="#" class="device-link list-group-item" data-address="{{ device.address }}">
                    {{ device.identifier if device.identifier else device.address }}
                </a>
            {% endfor %}
        </ul>
        <h4 class="mt-4">Create New Mode</h4>
        <form action="/create_mode" method="post">
            <div class="form-group">
                <label for="profile">Profile Name:</label>
                <input type="text" class="form-control" id="profile" name="profile" required>
            </div>
            <div class="form-group">
                <label for="light_state">Light State:</label>
                <input type="text" class="form-control" id="light_state" name="light_state">
            </div>
            <div class="form-group">
                <label for="brightness">Brightness:</label>
                <input type="text" class="form-control" id="brightness" name="brightness">
            </div>
            <div class="form-group">
                <label for="color">Color:</label>
                <input type="text" class="form-control" id="color" name="color">
            </div>
            <button type="submit" class="btn btn-primary mt-3">Create Mode</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.device-link').click(function(event) {
                event.preventDefault();
                var address = $(this).data('address');
                $('#macAddress').val(address);
            });

            $('#connectButton').click(function() {
                var address = $('#macAddress').val();
                if (address) {
                    window.location.href = '/connect?address=' + address + '&from_main=1';
                }
            });
        });
    </script>
</body>
</html>